body{
    background-image: url(2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

#about{
    background-image: url(1.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.app{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border-radius: 20px;
}
#searchbar img{
    height: 20%;
    width: auto;
    top: 10%;
    position: absolute;
}
#bar{
    top: 10%;
    position: absolute;
    height: 25px;
    background-color: antiquewhite;
    width: 200px;
    border: black solid  2px;
    border-radius: 20px;
}
#phoneBody{
    position: sticky;
    top: 25%;
}
#searchbar {
    display: flex;
    flex-direction: row;
    
}
#transitionTop{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    
  }
  #transitionBottom{
    width: 100%;
    position: absolute;
    bottom: 0;

  }

.topTransition{
    animation: transitionTop 2s ease-in forwards;
  }
  .bottomTransition{
    animation: transitionBottom 2s ease-in forwards;
    
  }
  .show{
    animation: visibility 2s forwards;
    animation-delay: 2s;
    z-index: 3;
  }
  .black{
    background-color: #1c2020;
  }
  #flowerLoad{
    height: 25%;
    position: sticky;
    top: 50%;
    opacity: 0%;
  }