html body{
    
    font-family: 'Nanum Myeongjo', serif;
    background-color: black;
    color: aliceblue;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 300px;
    padding: 45px;

}
/* HEADER CSS */
#header{
    grid-row: 1/span 1;
    font-family: 'Bebas Neue', sans-serif;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    border-bottom: 33px double #6e6bcc;
    align-items: flex-end;
    box-shadow: 0px 18px 20px -10px #de39ed85;
}

#intro{
    grid-column: 2/ span 1;
    text-align: center;
    align-self: center;
}
#intro h1, #intro h3 {
    font-size: 70px;
}

#header img{
    grid-row: 1 / span 1;
    grid-column: 1/ span 1;
    margin-left: auto;
    margin-right: auto;
    height: 80%;

}

#circle{
    background-image: linear-gradient( -225deg, #5733d9 0%, #db582b 19%, #7d2ed1 29%, #5232fade 67%, #db2b4c 100% );
    border-radius: 50%;
    grid-column: 1 /span 1;
    grid-row: 1 / span 1;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 70%;
}
nav{
    margin-top: 84px;
}
nav a{
    font-size: 40px;
    color:aliceblue;
    font-weight: bold;
}

/*                                Code for text color animation
https://alvarotrigo.com/blog/css-text-animations/#2.-text-colour-animation-effect-(css-only) */

.animate-color
{
    text-transform: uppercase;
    background-image: linear-gradient(
    -225deg,
    #5733d9 0%, 
    #db582b 19%,
    #7d2ed1 29%,
    #5232fade 67%,
    #db2b4c 100%
    );
    background-clip: text;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
}

@keyframes textclip {
    to {
    background-position: 200% center;
    }
}

/* ABOUT CSS */
#about{
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-bottom: 33px double #ac3e0afc;
    border-left: 33px double #b6476b;
    padding: 0px 41px;
    padding-top: 45px;
    box-shadow: -13px 6px 20px 3px #f8a9ff57;
    grid-row: 2/span 1;
}
#about-text{
    grid-column: 1/ span 1;
    font-size: 25px;
}
#about-text h1{
    font-size: 900;
}
#buttons{
    display: flex;
    grid-column: 2/ span 1;
    flex-direction: column-reverse;
    align-self: center;
    grid-row: 1/ span 1;
    margin-top: -87px;
}
#buttons button{
    margin: 27px;
    background-color: #b480299c;
    border: 11px solid;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    font-weight: 900;
}
/* https://css-tricks.com/the-shapes-of-css/#aa-triangle-left-shape */
#triangle {
    grid-column: 2/ span 1;
    width: 100%;
    height: 0;
    border-right: 367px dotted;
    border-bottom: 367px solid #311261;
    grid-row: 1/ span 1;
    z-index: -2;
    rotate: 20deg;
}
#mini-triangle {
    grid-column: 2/ span 1;
    width: 100%;
    height: 0;
    border-right: 367px solid rgb(26 89 232 / 75%);
    border-bottom: 326px solid #2f161600;
    grid-row: 1/ span 1;
    z-index: -1;
}
#resumeModalLabel{
    color: whitesmoke;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px;
}
.modal-content{
    background-image: linear-gradient(orange, purple);
}
iframe{
    width:100%;
    height: 480px;
}

/* PROJECTS CSS */
#projects{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-row: 3/span 1;
    grid-column: 1/span 1;
    border-right: 33px double #2949b49c;
    box-shadow: 11px 7px 20px 0px #7180ffc2;
}
#one{
    background-image: linear-gradient(darkBlue, skyblue, lightpink);
}
#two{
    background-image: linear-gradient( skyblue, rgb(61, 163, 204),rgb(255, 230, 65));
}
#three{
    background-image: linear-gradient(rgb(11, 3, 102), rgb(193, 105, 234), lightpink);
}
/* CONTACT/FOOTER CSS */
#contact{
    display: flex;
    grid-column: 1/span 1;
    grid-row: 4/span 1;
    background-image: linear-gradient(
        -225deg,
        #5733d9 0%, 
        #db582b 19%,
        #7d2ed1 29%,
        #5232fade 67%,
        #db2b4c 100%
        );
    background-position: 0;
    animation: rotate 10s ease infinite;
    justify-content: space-evenly;
    align-items: center;
    
}
#contact a{
    z-index: 2;
    position: relative;
    
}
#border{
    grid-row: 4/ span 1;
    grid-column: 1/span 1;
    width:98%;
    background: black;
    z-index: 1;
    justify-self: center;
    margin: 9px;
}

@keyframes rotate {
    0%{
        background-image: linear-gradient(
        -200deg,
        #5733d9 0%, 
        #db582b 19%,
        #7d2ed1 29%,
        #5232fade 67%,
        #db2b4c 100%
        );
    }
    50%{  
        background-image: linear-gradient(
        -190deg,
        #5733d9 0%, 
        #db582b 19%,
        #7d2ed1 29%,
        #5232fade 67%,
        #db2b4c 100%
        );
    } 

    100%{
        background-image: linear-gradient(
            -180deg,
            #5733d9 0%, 
            #db582b 19%,
            #7d2ed1 29%,
            #5232fade 67%,
            #db2b4c 100%
            );
    }
}

